@charset "utf-8";

/* ///////////////////////////////////////////
  value.scss
  変数・mixinに関する設定
/////////////////////////////////////////// */
/*====================================
  カラー
=====================================*/
$color1:#486A00; //青
$color2:#FFF; //白
$color3:#333; //黒
$color4: #F4F4F4; //薄いグレー
$color5: #E6E6E6; //グレー
$color6: #AAAAAA; //グレー

$mainColor:$color1; //青
$baseColor:$color2; //白
$fontColor:$color3; //黒
$bgColor:$color4; //薄いグレー
$borderColor:$color5; //グレー
$hoverColor:$color6; //グレー


/*====================================
  画像パス
=====================================*/
$imgPath:'../images';


/*====================================
  フォント
=====================================*/
$baseFont: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo","ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$serif: "Noto Serif JP", "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;

//フォントサイズ
$PCfontSize:1.6rem;
$SPfontSize:1.4rem;

//行間
$pclh:1.5;
$splh:1.4;

/*==Noto Sans JP==*/
/*Thin*/
@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Noto_Sans_JP/NotoSansJP-Thin.woff2")format("woff2"),
    url("../font/Noto_Sans_JP/NotoSansJP-Thin.woff")format("woff"),
    url("../font/Noto_Sans_JP/NotoSansJP-Thin.eot")format("eot"),
    url('../font/Noto_Sans_JP/NotoSansJP-Thin.ttf') format('truetype');
}
/*Light*/
@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Noto_Sans_JP/NotoSansJP-Light.woff2")format("woff2"),
    url("../font/Noto_Sans_JP/NotoSansJP-Light.woff")format("woff"),
    url("../font/Noto_Sans_JP/NotoSansJP-Light.eot")format("eot"),
    url('../font/Noto_Sans_JP/NotoSansJP-Light.ttf') format('truetype');
}
/*Regular*/
@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Noto_Sans_JP/NotoSansJP-Regular.woff2")format("woff2"),
    url("../font/Noto_Sans_JP/NotoSansJP-Regular.woff")format("woff"),
    url("../font/Noto_Sans_JP/NotoSansJP-Regular.eot")format("eot"),
    url('../font/Noto_Sans_JP/NotoSansJP-Regular.ttf') format('truetype');
}
/*Midium*/
@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Noto_Sans_JP/NotoSansJP-Medium.woff2")format("woff2"),
    url("../font/Noto_Sans_JP/NotoSansJP-Medium.woff")format("woff"),
    url("../font/Noto_Sans_JP/NotoSansJP-Medium.eot")format("eot"),
    url('../font/Noto_Sans_JP/NotoSansJP-Medium.ttf') format('truetype');
}
/*Bold*/
@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Noto_Sans_JP/NotoSansJP-Bold.woff2")format("woff2"),
    url("../font/Noto_Sans_JP/NotoSansJP-Bold.woff")format("woff"),
    url("../font/Noto_Sans_JP/NotoSansJP-Bold.eot")format("eot"),
    url('../font/Noto_Sans_JP/NotoSansJP-Bold.ttf') format('truetype');
}
/*Black*/
@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Noto_Sans_JP/NotoSansJP-Black.woff2")format("woff2"),
    url("../font/Noto_Sans_JP/NotoSansJP-Black.woff")format("woff"),
    url("../font/Noto_Sans_JP/NotoSansJP-Black.eot")format("eot"),
    url('../font/Noto_Sans_JP/NotoSansJP-Black.ttf') format('truetype');
}

/*==Noto Serif JP==*/
/*Thin*/
@font-face {
  font-family: 'Noto Serif JP';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Noto_Serif_JP/NotoSerifJP-Thin.woff2")format("woff2"),
    url("../font/Noto_Serif_JP/NotoSerifJP-Thin.woff")format("woff"),
    url("../font/Noto_Serif_JP/NotoSerifJP-Thin.eot")format("eot"),
    url('../font/Noto_Serif_JP/NotoSerifJP-Thin.ttf') format('truetype');
}
/*Light*/
@font-face {
  font-family: 'Noto Serif JP';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Noto_Serif_JP/NotoSerifJP-Light.woff2")format("woff2"),
    url("../font/Noto_Serif_JP/NotoSerifJP-Light.woff")format("woff"),
    url("../font/Noto_Serif_JP/NotoSerifJP-Light.eot")format("eot"),
    url('../font/Noto_Serif_JP/NotoSerifJP-Light.ttf') format('truetype');
}
/*Regular*/
@font-face {
  font-family: 'Noto Serif JP';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Noto_Serif_JP/NotoSerifJP-Regular.woff2")format("woff2"),
    url("../font/Noto_Serif_JP/NotoSerifJP-Regular.woff")format("woff"),
    url("../font/Noto_Serif_JP/NotoSerifJP-Regular.eot")format("eot"),
    url('../font/Noto_Serif_JP/NotoSerifJP-Regular.ttf') format('truetype');
}
/*Midium*/
@font-face {
  font-family: 'Noto Serif JP';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Noto_Serif_JP/NotoSerifJP-Medium.woff2")format("woff2"),
    url("../font/Noto_Serif_JP/NotoSerifJP-Medium.woff")format("woff"),
    url("../font/Noto_Serif_JP/NotoSerifJP-Medium.eot")format("eot"),
    url('../font/Noto_Serif_JP/NotoSerifJP-Medium.ttf') format('truetype');
}
/*Bold*/
@font-face {
  font-family: 'Noto Serif JP';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Noto_Serif_JP/NotoSerifJP-Bold.woff2")format("woff2"),
    url("../font/Noto_Serif_JP/NotoSerifJP-Bold.woff")format("woff"),
    url("../font/Noto_Serif_JP/NotoSerifJP-Bold.eot")format("eot"),
    url('../font/Noto_Serif_JP/NotoSerifJP-Bold.ttf') format('truetype');
}
/*Black*/
@font-face {
  font-family: 'Noto Serif JP';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Noto_Serif_JP/NotoSerifJP-Black.woff2")format("woff2"),
    url("../font/Noto_Serif_JP/NotoSerifJP-Black.woff")format("woff"),
    url("../font/Noto_Serif_JP/NotoSerifJP-Black.eot")format("eot"),
    url('../font/Noto_Serif_JP/NotoSerifJP-Black.ttf') format('truetype');
}

/*==Oswald==*/
/*Light*/
@font-face {
  font-family: 'Oswald';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Oswald/Oswald-Light.woff2")format("woff2"),
    url("../font/Oswald/Oswald-Light.woff")format("woff"),
    url("../font/Oswald/Oswald-Light.eot")format("eot"),
    url('../font/Oswald/Oswald-Light.ttf') format('truetype');
}
/*Regular*/
@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Oswald/Oswald-Regular.woff2")format("woff2"),
    url("../font/Oswald/Oswald-Regular.woff")format("woff"),
    url("../font/Oswald/Oswald-Regular.eot")format("eot"),
    url('../font/Oswald/Oswald-Regular.ttf') format('truetype');
}
/*Midium*/
@font-face {
  font-family: 'Oswald';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Oswald/Oswald-Medium.woff2")format("woff2"),
    url("../font/Oswald/Oswald-Medium.woff")format("woff"),
    url("../font/Oswald/Oswald-Medium.eot")format("eot"),
    url('../font/Oswald/Oswald-Medium.ttf') format('truetype');
}
/*Bold*/
@font-face {
  font-family: 'Oswald';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url("../font/Oswald/Oswald-Bold.woff2")format("woff2"),
    url("../font/Oswald/Oswald-Bold.woff")format("woff"),
    url("../font/Oswald/Oswald-Bold.eot")format("eot"),
    url('../font/Oswald/Oswald-Bold.ttf') format('truetype');
}


/*====================================
  レイアウト
=====================================*/
@mixin makeContainer(
    $mx:1260px,
    $margin:0 auto,
    $pd_pc:0 30px,
    $pd_tb:0 30px,
    $pd_sp:0 20px
  ){
    display: block;
    max-width: $mx;
    margin: $margin;
    @include smartphone {padding: $pd_sp;}
    @include tablet {padding: $pd_tb;}
    @include desktop {padding: $pd_pc;}
}

@mixin trans($target:all,$speed:.3s,$style:ease-out) {
  -webkit-transition: $target $speed $style;
  -moz-transition: $target $speed $style;
  -ms-transition: $target $speed $style;
  transition: $target $speed $style;
}

@mixin lhCrop($line-height) {
  &::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}

/*====================================
  ボタン
=====================================*/
@mixin makeButton(
    $mx: 440px,
    $margin: 0 auto,
    $pd_pc: 28px 45px,
    $pd_tb: 28px 45px,
    $pd_sp: 17px 25px,
    $font-weight: 700,
    $color: white,
    $font-size_pc: 24px,
    $font-size_tb: 24px,
    $font-size_sp: 16px,
  ) {
    display: block;
    max-width: $mx;
    margin: $margin;
    font-weight: $font-weight;
    color: $color;
    line-height: 1.1;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-align: center;
    background-color: black;
    @include trans;
    @include smartphone {
      padding: $pd_sp;
      font-size: $font-size_sp;
    }
    @include tablet {
      padding: $pd_tb;
      font-size: $font-size_tb;
    }
    @include desktop {
      padding: $pd_pc;
      font-size: $font-size_pc;
    }
    &:hover{
      opacity: 0.6;
    }
}


/*====================================
  ブレイクポイント
=====================================*/
$width-desktop: 1200px;
$width-smartphone: 834px;
$width-scrollbar: 20px;

//スマホ表示: ～834px
@mixin smartphone {
  @media only screen and (max-width: $width-smartphone) {
    @content;
  }
}

//スマホ・タブレット兼用: ～1199px ～
@mixin mobile {
  @media print, screen and (max-width: $width-desktop + $width-scrollbar - 1) {
    @content;
  }
}

//PC・タブレット兼用: 835px ～
@mixin screen {
  @media print, screen and (min-width: $width-smartphone + 1) {
    @content;
  }
}

//タブレット表示: 835px ～ 1199px
@mixin tablet {
  @media only screen and (min-width: $width-smartphone + 1) and (max-width: $width-desktop + $width-scrollbar - 1) {
    @content;
  }
}

//PC表示: 1200px～
@mixin desktop {
  @media print, screen and (min-width: $width-desktop + $width-scrollbar) {
    @content;
  }
}

//画面縦長
@mixin portrait {
  @media print, screen and (orientation: portrait){
    @content;
  }
}

//画面横長
@mixin landscape {
  @media print, screen and (orientation: landscape){
    @content;
  }
}

 //印刷用
@mixin print {
  @media print {
    @content;
  }
}


